body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input:focus
{
         outline: none !important;
         box-shadow: none;
}

textarea:focus
{
         outline: none !important;
         box-shadow: none;
}

textarea:active
{
         outline: none !important;
         box-shadow: none;
}

textarea
{
         outline: none !important;
         box-shadow: none;
}

.table-responsive{
  min-width: 78vw !important;
}

.daypqs{
  /* background: white !important; */
  border: 1px solid white;
  height: 100px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0;
    border: 1px solid rgba(196, 196, 196, 0.6);
    height: 70px;
    outline: none !important;
    background: rgba(228, 228, 228, 0.2) !important;
    padding-top: 5px !important;
}
.eJEChV div svg:first-child{
  background: orange !important;
  color: aliceblue;
}

.daypqs span{

 color: orange !important;
 margin-top: 0 !important;
 padding-top: 0 !important;
}

.daypqs img{
  height: 40px;
  margin-top: 0 !important;
  padding-top: 0 !important;
 }